/*
@media screen and (min-width: 320px) {
  .navigation__item {
    font-size: 50px;
  }
  .header__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo__title {
    font-size: 50px;
  }
  .logo__image {
    width: 150px;
  }
  .logo::after {
    font-size: 40px;
    margin-left: 100px;
  }
  .header-phone__number {
    font-size: 40px;
  }
  .header-network__item {
    width: 100px;
  }

  .header-network__icon {
    width: 100px;
    margin-top: 30px;
  }
  .header-phone__icon {
    width: 80px;
    margin-right: 10px;
  }
}
*/
/*
@media screen and (min-width: 768px) {
  .navigation__item {
    font-size: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .navigation__item {
    font-size: 40px;
  }
}

/*Модальное окно*/

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

/*Бургер меню*/
@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__container {
    display: none;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: black;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .open {
    left: 0;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .menu__item {
    width: 100%;
  }

  .menu__item-link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .menu__item-link:hover {
    background-color: hsla(74, 34%, 37%, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .noscroll {
    overflow: hidden;
  }
}

/*Кнопка наверх*/

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    transform: scale(1.12);
    transition: transform 0.35s;
  }
}
